# docs: https://git-scm.com/docs/gitattributes

# possible attributes:
# - "text=auto": let git figure out if the file is a text or binary file (default behavior for all files)
# - "text": file is text file, end of line should be normalised
# - "-text": file is not a text file, end of line should not be normalised
# - "eol=(lf,crlf)": file is text file, but should be checked out with linux (lf) or windows (crlf) line endings

# text files will always be checked in with LF line endings

# paths follow the same rules as .gitignore paths, except:
# - negative patterns are forbidden
# - paths are ignored if they lead to directories (every path must lead to files)


# default behavior
*           text=auto

# text
*.py        text
*.tex       text
*.bib       text
# keep bash files with lf line endings on Windows
.bash*      eol=lf
*.sh        eol=lf

# binaries
*.png       -text
# keep .ipynb files with lf line endings on windows
*.ipynb     -text
