# docs: https://git-scm.com/docs/gitattributes

# possible attributes:
# - "text=auto": let git figure out if the files are text or binary files (default behavior for all files)
# - "text": files are text files, end of line (EOL) should be normalised
# - "-text": files are not text files, EOL should not be normalised
# - "eol=(lf,crlf)": files are text files, but should be checked out (pulled) with linux (lf) or windows (crlf) EOL
# - linguist-vendored: files will not be accounted for in the list of languages used

# text files will always be checked in with LF line endings, binary files will be checked in as-is

# paths follow the same rules as .gitignore paths, except:
# - negative patterns are forbidden
# - paths are ignored if they lead to directories (every path must lead to files)


# default behavior
*           text=auto

# text
*.py        text
*.ps1       text
*.psm1      text
*.tex       text
*.bib       text
*.yml       text
*.yaml      text
# keep bash files with lf line endings on Windows
.bash*      eol=lf
*.sh        eol=lf

# binaries
*.png       -text
*.xml       -text
*.wav       -text
*.ico       -text
# keep .ipynb files with lf line endings on windows
*.ipynb     -text linguist-vendored
